[submodule "submodules/github.com/concourse/concourse-bosh-deployment"]
	path = submodules/github.com/concourse/concourse-bosh-deployment
	url = https://github.com/concourse/concourse-bosh-deployment
