[submodule "submodules/github.com/concourse/concourse-deployment"]
	path = submodules/github.com/concourse/concourse-deployment
	url = https://github.com/concourse/concourse-deployment.git
[submodule "submodules/github.com/pivotal-cf/pcf-pipelines"]
	path = submodules/github.com/pivotal-cf/pcf-pipelines
	url = https://github.com/pivotal-cf/pcf-pipelines/
[submodule "submodules/github.com/cloudfoundry/bosh-deployment"]
	path = submodules/github.com/cloudfoundry/bosh-deployment
	url = https://github.com/cloudfoundry/bosh-deployment
[submodule "submodules/github.com/pivotalservices/deploy-concourse"]
	path = submodules/github.com/pivotalservices/deploy-concourse
	url = https://github.com/pivotalservices/deploy-concourse/
